docutils
linkify-it-py
lxml
myst-parser
pygments
sphinx
sphinx-issues
sphinx-markdown-tables
sphinx-notfound-page
sphinx_rtd_theme>=0.5.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
